################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlasticGold.Application/PlasticGold.Application/obj
/PlasticGold.Application/.vs/PlasticGold.Application/v17
